*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    background-image: url('assets/main.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1064px;

    @media (width< 381px) {

        background-image: none;
        background-size: 380px 1064px;
    }

}

.deneme {
    display: none;

    @media (width< 381px) {

        display: block;
    }


}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (width< 381px) {
        width: 380px;

    }

}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8B4513;
    color: white;
    height: 40px;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    @media (width< 381px) {

        display: none;
    }
}

.x {
    position: absolute;
    left: 99%;

    @media (width< 381px) {

        display: none;
    }
}

.header {
    margin: 24px 0 428px 42px;
    display: flex;
    justify-content: space-between;

    @media (width< 381px) {

        display: none;
    }

    &_logo {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    &_nav {
        display: flex;
        align-items: center;
        gap: 32px;

        a:link {
            text-decoration: none;
        }
    }

    &_nav-list {
        color: white;
        font-size: 18px;
        font-weight: 400;
    }

    &_left {
        display: flex;
        align-items: center;
        margin-right: 53px;
    }

    &_search {
        width: 214px;
        height: 33px;
    }
}

.hleft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-right: 41px;


    &_box1 {
        display: flex;
        width: 446px;
        height: 200px;
        margin-bottom: 31px;
        background-color: white;
    }

    &_box2-left {
        display: flex;
    }

    &_box1-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_box1-text1 {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        padding: 16px 16px 0 0;
        margin-left: 16px;
    }

    &_box1-text2 {
        font-size: 16px;
        padding-left: 16px;
        font-weight: 400;
    }

    &_box1-text3 {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.4px;

        padding-bottom: 16px;
        padding-left: 16px;
    }
    &_box2 {
        border: 1px solid aqua;
        display: flex;
        width: 200px;
        height: 200px;
    }
}
.middle {
    display: flex;
    margin: 128px 42px 64px 42px;
    display: flex;
    &_left {
        width: 50%;
        margin-right: 32px;
    }

    &_left-top {
        width: 100%;
        height: auto;

        @media (width< 381px) {
            height: 374px;
            width: 360px;
        }
    }
 &_left-top1 {
        width: 100%;
        height: auto;
        margin-bottom: 32px;
        @media (width< 381px) {
            height: 374px;
            width: 360px;
            margin-top: 52px;
        }
    }
    &_right {
        width: 50%;
        @media (width< 381px) {
            height: 374px;
            width: 364px;
            margin-top: 32px;
        }
    }

    &_left-side {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.mid-t {

    &_text {
        color: #3E3E3E;
        margin: 0 42px 32px 42px;
        font-size: 76px;
        font-weight: 500;
        line-height: 130%;
    }
}

/////////
.card1 {
    margin: 0 42px 32px 0px;

    width: 100%;
    height: 560px;
    display: flex;
    @media (width< 381px) {
        width: 380px;
        margin: 0px;
    }

    &_box2 {

        width: 25%;
        height: 550px;
        margin: 0 42px;
    }

    &_box-2 {
        width: 378px;
        height: 420px;
        margin-bottom: 16px;
    }

    &_box-2-t1 {
        color: #757575;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        @media (width< 381px) {
            width: 380px;
        }
    }

    &_box-2-t2 {
        color: #3E3E3E;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        text-transform: capitalize;
        @media (width< 381px) {
            width: 380px;
        }
    }

    &_box-2-t3 {
        color: #757575;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 16px;
        @media (width< 381px) {
            margin-top: 0px;
        }
    }

    &_box-2-see {
        margin: 32px 0 64px 42px;
        border: 1px solid #8B4513;
        text-decoration: none;
        background: #8B4513;
        width: 215px;
        height: 77px;
        padding: 24px 24px;
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2.4px;
        @media (width< 381px) {
            width: 380px;
            margin-top: 0px;
        }
    }
}










/////////////



.card1 {
    margin: 0 42px 32px 0px;

    width: 100%;
    height: 560px;
    display: flex;


    &_box {

        width: 25%;
        height: 550px;
        margin: 0 42px;
        @media (width< 381px) {
            display: none;
        }
    }

    &_box-1 {
        width: 100%;
        height: 420px;
        margin-bottom: 16px;
    }

    &_box-1-t1 {
        color: #757575;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    &_box-1-t2 {
        color: #3E3E3E;

        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;

        text-transform: capitalize;
    }

    &_box-1-t3 {
        color: #757575;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 16px;
    }

    &_box-1-see {
        margin: 32px 0 64px 42px;
        border: 1px solid #8B4513;
        text-decoration: none;
        background: #8B4513;
        width: 215px;
        height: 77px;
        padding: 24px 24px;
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2.4px;
    }
}

.bottom {

    width: 100%;
    height: 500px;
    display: flex;
    @media (width< 381px) {
       height: 1380px;
       flex-direction: column;    
    }

    &_box1 {
        border: 24px solid #F2F2F2;
        padding: 24px;
        width: 25%;
        height: 400px;
        margin-left: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (width< 381px) {
            width: 380px;
            
        }
    }

    &_box2 {
        margin: 32px;
        width: 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        @media (width< 381px) {
            width: 380px;
            display: flex;
            
        height: 400px;
            
        }
    }

    &_box2-top {
        border: 24px solid #F2F2F2;
        height: 184px;
        margin-top: 0px;
        @media (width< 381px) {
            width: 380px;
            margin-top: 10px;
          
        }
    }

    &_box2-bottom {
        border: 24px solid #F2F2F2;
        height: 184px;
        @media (width< 381px) {
            width: 380px;
            
        }
    }

    &_box3 {
        border: 24px solid #F2F2F2;
        ;
        width: 25%;
        height: 400px;
        margin-right: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        @media (width< 381px) {
            width: 380px;
            margin-top: 150px;
            margin-left: 32px;
            
        }
    }

    &_logo {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 32px;
        background: #8B4513;
        width: 64px;
        height: 64px;
        padding: 20px;
        margin-bottom: 16px;

    }

    &_mtext {
        color: #3E3E3E;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &_btext {
        color: #757575;
        font-size: 12px;
        font-weight: 400;
        line-height: 135%;

    }

    &_box2-top {
        display: flex;
        justify-content: center;
        @media (width< 381px) {
            height: 330px;
        }
    }

    &_group {
        width: 60%;
        margin-top: 24px;
    }

    &_logo2 {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 32px;
        background: #8B4513;
        width: 64px;
        height: 64px;
        padding: 20px;
        margin-top: 24px;
    }
}

.footer {
    background-color: #8B4513;
    height: 373px;
    width: 100%;
    display: flex;
     @media (width< 381px) {
        margin-top: 30px;
        width: 415px;
        margin-right: 0;
    }

    &_text {
        color: #FFF;
        font-size: 48px;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;
    }

    &_left {
        margin: 86px 96px 0 42px;
    }

    &_info {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        color: white;
        width: 300px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%
    }

    &_right {
        margin: 86px;
        display: flex;
        width: 970px;
        justify-content: flex-start;
        gap: 150px;
        @media (width< 381px) {
            display: none;
        }

    }

    &_navlist {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: white;

    }

    &_navlist-item {
        color: white;
        text-decoration: none;
    }
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8B4513;
    color: white;

    &_1 {
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 135%;

    }

    &_2 {
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 135%;
        margin-bottom: 48px;

    }
}

@media (max-width: 768px) {
    /* 768 piksel genişliğe kadar olan ekranlar için stil değişiklikleri */

    .header_nav {
        display: none;
    }

    .header_left {
        margin-right: 24px;
    }

    .hleft {
        display: none;
    }

    .header_search {
        display: none;
    }

    .middle {
        flex-direction: column;
        align-items: center;
        margin: 64px 24px;
    }

    .middle_left,
    .middle_right {
        width: 100%;
    }

 
    
}